[alias]
	cm = commit
	co = checkout
	st = status --short --branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	upll = pull
	sw = switch
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	quotepath = false
[color]
	ui = auto
[push]
	default = simple
[url "git@github.com:"]
	pushinsteadof = "git://github.com/"
	pushinsteadof = "https://github.com/"
[diff]
	algorithm = histogram
[rebase]
	autosquash = true
[include]
	path = ~/.gitconfig_local
[merge]
	conflictStyle = diff3
[pull]
	rebase = false
[rerere]
	enabled = true
[init]
	defaultBranch = main
