*.log
*.o
*.so
*.swp
*~
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.d/auto-save-list
.emacs.d/history
.emacs.d/network-security.data
.emacs.d/places
.emacs.d/recentf
.emacs.d/session.*
.emacs.d/saved-places
.emacs.d/**/*.elc

.lein/repl-history
.lein/self-installs

.mlterm/comphist
.mlterm/challenge

.vim/.netrwhist
.vim/bundle/*
.vim/history/*
.vim/spell
.vim/view/

a.out
