.vim/.VimballRecord
.vim/neobundle.vim.git
.vim/history/*
.vim/bundle/*
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/history
.emacs.d/auto-install/*.elc
.emacs.d/session.*
.riece/save
.riece/log
**/.git
*.swp
*.log
*~
*.so
*.o
a.out
**/.netrwhist
en.utf-8.add*
.zsh.d/packages/*
.lein/self-installs
.lein/repl-history
.vimperator/info
.vimperator/vimperator-plugins
