nodejs 26.7.0
# renovate: datasource=github-releases depName=junegunn/fzf extractVersion=^v(?<version>.+)$
fzf 0.74.3
golang 1.26.6
gohugo 0.165.0
hadolint 2.15.1
nim 2.2.10
deno 2.9.5
# renovate: datasource=github-releases depName=neovim/neovim extractVersion=^v(?<version>.+)$
neovim 0.12.4
zig 0.16.0
kubectl 1.36.3
terraform 1.15.8
mkcert 1.4.4
