nodejs 26.5.0
# renovate: datasource=github-releases depName=junegunn/fzf extractVersion=^v(?<version>.+)$
fzf 0.74.0
golang 1.26.5
gohugo 0.164.0
hadolint 2.14.0
nim 2.2.10
deno 2.9.2
# renovate: datasource=github-releases depName=neovim/neovim extractVersion=^v(?<version>.+)$
neovim 0.12.4
zig 0.16.0
kubectl 1.36.2
terraform 1.15.7
mkcert 1.4.4
