nodejs 25.9.0
# renovate: datasource=github-releases depName=junegunn/fzf extractVersion=^v(?<version>.+)$
fzf 0.73.1
golang 1.26.4
gohugo 0.163.1
hadolint 2.14.0
nim 2.2.10
deno 2.8.2
# renovate: datasource=github-releases depName=neovim/neovim extractVersion=^v(?<version>.+)$
neovim 0.12.2
zig 0.16.0
kubectl 1.36.1
terraform 1.15.5
mkcert 1.4.4
