[user]
	name = HARUYAMA Seigo
	email = haruyama@unixuser.org
[alias]
	co = checkout
	st = status --short --branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
	excludesfile = /home/haruyama/.gitignore_global
[color]
	ui = auto
[push]
	default = simple
[url "git@github.com:"]
	pushinsteadof = "git://github.com/"
	pushinsteadof = "https://github.com/"
[diff]
	algorithm = histogram
[rebase]
	autosquash = true
